/* setting the styling for the page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #dddddd;
}

@media (max-width: 600px) { /* Update the container width and search bar position for mobile devices */
  .container {
    padding: 10px;
  }

  .search-bar {
    top: 10%;
  }
}

.header {
  height: 100pt;
  text-align: center;
  background-color: #7d7d7d;
  color: white;
  box-shadow: 0px 5px 6px black;
  width: 100%;
  display: flex;
  align-items: space-evenly;
  align-items: center;
  justify-content: space-around;
}

.header img {
  width: 4rem;
  height: 4rem;
}

/* setting the height of the map container */
#map {
  height: 100vh;
  box-shadow: 0px 0px 5px black;
}

/* Center the content and provide padding */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: grid;
}

/* styling for the heading */
h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  text-shadow: 0px 1px 0px black;
}

h3 {
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 1px 0px black;
  text-align: right;
}

.search-bar {
  z-index: 1000;
  position: absolute;
  top: 25%;
  background-color: white;
  border-radius: 3.5px;
  padding: 4px 4px;
  justify-self: center;
  box-shadow: 0px 2px 3px black;
}

.Support {
    text-align: center;
    font-family:serif;
}

.Support-header { a{
  text-decoration: none;
  color: black;}
}



.Photos img {
  width: 40rem;
  height: 30rem;
  box-shadow: 0px 0px 3px black;
  border-radius: 7px;
}


.Botttom-header {
  height: 100pt;
  text-align: center;
  background-color: #7d7d7d;
  color: white;
  box-shadow: 0px -3px 6px black;
  width: 100%;
  display: flex;
  align-items: space-evenly;
  align-items: center;
  justify-content: space-around;
  bottom: 0%;
}

a {
  text-decoration: none;
  color: black;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 2rem;
}

.forum-posts {
  border: 1px solid #ddd;
  padding: 1rem;
}

.post {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.post-date, .comment-date {
  font-size: 0.8rem;
  color: #777;
}

.comment-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.comment {
  border: 1px solid #eee;
  padding: 0.5rem;
  margin-top: 0.2srem;
}


.Feedback-text {
  font-family: serif;
  font-weight: 700;
  font-size: 110%;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
}

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.search-bar2 {
  background-color: #dddddd;
  box-shadow: 0px 0px 0px black;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.search-bar2 input[type="text"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.search-bar2 button {
  padding: 8px 20px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-filters {
  background-color: #dddddd;
  box-shadow: 0px 0px 0px black;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}

.search-filters button {
  padding: 8px 40px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  
}

.post {
  margin-left: 2%;
  margin-right: 2%;
}
.Googleforum {
 margin-right: 25%;
 margin-left: 25%;
 padding-top: 5rem;
 padding-bottom: 5rem;
 
}